	body {
		font-family: "Times New Roman";
		background: url("../MEDIA/background.jpg") fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
	}

	header {
		display: flex;
		justify-content: space-between;
		cursor: pointer;
	}

	header a {
		margin: 5px;
	}

	h1 {
		color: #fff;
		background-color: #2ea81c;
	}

	h2 {
		color: #fff;
		background-color: #2ea81c;
		height: 30px;
	}

	h3 {
		color: #fff;
		background-color: #0f6bbd;
		height: 30px;
	}

	p {
		color: #fff;
		background-color: #2ea81c;		
	}

	#boxes {
		float: left;
		height: 470px;
		width: 23%;
		padding: 0 10px;
	  }

	#boxes1 {
		float: right;
		height: 470px;
		width: 23%;
		padding: 0 10px;
	  }
	

	table {
		border: 3px #000;
		display: flex;
		justify-content: center;
		width: auto;
	}

	table>* {
		text-align: center;
		color: #fff;
		background-color: #2ea81c;
	}

	a {
		color: #fff;
		background-color: #0f6bbd;
		text-decoration: none;

	}
	
	.BasDePage {
		text-align:center;
		color: #fff;
		background-color: #0f6bbd;
			
	}
	a:hover {
		background-color: #fff;
		/*change la couleur du fond du lien*/
		color: #08a3d6;
		/*change la couleur du texte du lien*/
		text-decoration: none;
	}

	.liens-images a {
		/* Tous les liens menant à des images */
		color: #fff;
		background-color: rgb(0, 128, 170);
		text-decoration: none;
	}

	.liens-images a:hover {
		/* Quand on pointe sur un lien */
		color: rgb(0, 128, 170);
		/*change la couleur du texte du lien*/
		background-color: #fff;
		/*change la couleur du fond du lien*/
		text-decoration: none;
	}

	#onglets {
		background-color: #2ea81c;
		padding: 0;
	}

	/*Modifie les 2 autres ongles*/
	#onglets li {
		float: top;
		background-color: #2ea81c;
		margin-bottom: 15px;
	}

	#onglets a {
		color: #fff;
		background-color: #2ea81c;
		text-decoration: none;
		border: 2px solid #000;

	}

	#onglets a:hover {
		background-color: #fff;
		/*change la couleur du fond du lien*/
		color: #2ea81c;
		/*change la couleur du texte du lien*/
		text-decoration: none;
	}


	#onglets {
		background-color: #2ea81c;
		font-family: "Times New Roman";
		list-style-type: none;
	}
